<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Fasenra.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2E0E81D9042FDA089C8238B8C00C1AA6FA03AC9B</string>
				<key>dateExpires</key>
				<string>5/4/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E0E81D9042FDA089C8238B8C00C1AA6FA03AC9B</string>
						<key>dateExpires</key>
						<string>5/4/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6E4SEUDA7B</string>
						<key>name</key>
						<string>Mohannad Elsharkawi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E0E81D9042FDA089C8238B8C00C1AA6FA03AC9B</string>
						<key>dateExpires</key>
						<string>5/4/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DefaultsKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6E4SEUDA7B</string>
						<key>name</key>
						<string>Mohannad Elsharkawi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E0E81D9042FDA089C8238B8C00C1AA6FA03AC9B</string>
						<key>dateExpires</key>
						<string>5/4/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6E4SEUDA7B</string>
						<key>name</key>
						<string>Mohannad Elsharkawi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E0E81D9042FDA089C8238B8C00C1AA6FA03AC9B</string>
						<key>dateExpires</key>
						<string>5/4/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6E4SEUDA7B</string>
						<key>name</key>
						<string>Mohannad Elsharkawi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E0E81D9042FDA089C8238B8C00C1AA6FA03AC9B</string>
						<key>dateExpires</key>
						<string>5/4/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6E4SEUDA7B</string>
						<key>name</key>
						<string>Mohannad Elsharkawi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E0E81D9042FDA089C8238B8C00C1AA6FA03AC9B</string>
						<key>dateExpires</key>
						<string>5/4/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6E4SEUDA7B</string>
						<key>name</key>
						<string>Mohannad Elsharkawi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E0E81D9042FDA089C8238B8C00C1AA6FA03AC9B</string>
						<key>dateExpires</key>
						<string>5/4/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Moya.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6E4SEUDA7B</string>
						<key>name</key>
						<string>Mohannad Elsharkawi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E0E81D9042FDA089C8238B8C00C1AA6FA03AC9B</string>
						<key>dateExpires</key>
						<string>5/4/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PromiseKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6E4SEUDA7B</string>
						<key>name</key>
						<string>Mohannad Elsharkawi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E0E81D9042FDA089C8238B8C00C1AA6FA03AC9B</string>
						<key>dateExpires</key>
						<string>5/4/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6E4SEUDA7B</string>
						<key>name</key>
						<string>Mohannad Elsharkawi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E0E81D9042FDA089C8238B8C00C1AA6FA03AC9B</string>
						<key>dateExpires</key>
						<string>5/4/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RZTransitions.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6E4SEUDA7B</string>
						<key>name</key>
						<string>Mohannad Elsharkawi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E0E81D9042FDA089C8238B8C00C1AA6FA03AC9B</string>
						<key>dateExpires</key>
						<string>5/4/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ResponseDetective.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6E4SEUDA7B</string>
						<key>name</key>
						<string>Mohannad Elsharkawi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E0E81D9042FDA089C8238B8C00C1AA6FA03AC9B</string>
						<key>dateExpires</key>
						<string>5/4/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Result.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6E4SEUDA7B</string>
						<key>name</key>
						<string>Mohannad Elsharkawi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E0E81D9042FDA089C8238B8C00C1AA6FA03AC9B</string>
						<key>dateExpires</key>
						<string>5/4/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6E4SEUDA7B</string>
						<key>name</key>
						<string>Mohannad Elsharkawi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E0E81D9042FDA089C8238B8C00C1AA6FA03AC9B</string>
						<key>dateExpires</key>
						<string>5/4/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6E4SEUDA7B</string>
						<key>name</key>
						<string>Mohannad Elsharkawi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E0E81D9042FDA089C8238B8C00C1AA6FA03AC9B</string>
						<key>dateExpires</key>
						<string>5/4/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6E4SEUDA7B</string>
						<key>name</key>
						<string>Mohannad Elsharkawi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E0E81D9042FDA089C8238B8C00C1AA6FA03AC9B</string>
						<key>dateExpires</key>
						<string>5/4/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6E4SEUDA7B</string>
						<key>name</key>
						<string>Mohannad Elsharkawi</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>6E4SEUDA7B.com.alyom.FAST</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>6E4SEUDA7B</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Fasenra.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5e6ae77c-a583-404a-a2c1-cb192545e465</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.alyom.FAST</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>6E4SEUDA7B</string>
				<key>name</key>
				<string>Mohannad Elsharkawi</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
