<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>696067846001-01k0n03ibc6cu3imqja5hukoolqj4jk9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.696067846001-01k0n03ibc6cu3imqja5hukoolqj4jk9</string>
	<key>API_KEY</key>
	<string>AIzaSyBTGlctNVbpmXX6NuY90Sh-wcDuSYiTP5k</string>
	<key>GCM_SENDER_ID</key>
	<string>696067846001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alyomapps.HerajAlEbel</string>
	<key>PROJECT_ID</key>
	<string>harajalebel</string>
	<key>STORAGE_BUCKET</key>
	<string>harajalebel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:696067846001:ios:60af626415ebfc3b1dd0d0</string>
	<key>DATABASE_URL</key>
	<string>https://harajalebel.firebaseio.com</string>
</dict>
</plist>